# Count Vectorizer

In [1]:
import pandas as pd
#import numpy as np

from sklearn.feature_extraction.text import CountVectorizer

In [2]:
text = ['I saw her in the office office office', 'She looked beautiful',
        'She received an award for her good work']

In [3]:
vectorizer = CountVectorizer()

In [4]:
vectorizer.fit(text)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [5]:
vec = vectorizer.transform(text)
vec

<3x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [6]:
vec.toarray()

array([[0, 0, 0, 0, 0, 1, 1, 0, 3, 0, 1, 0, 1, 0],
       [0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1]], dtype=int64)

In [7]:
vectorizer.get_feature_names()

['an',
 'award',
 'beautiful',
 'for',
 'good',
 'her',
 'in',
 'looked',
 'office',
 'received',
 'saw',
 'she',
 'the',
 'work']

In [8]:
pd.DataFrame(vec.toarray(),columns = vectorizer.get_feature_names())

,an,award,beautiful,for,good,her,in,looked,office,received,saw,she,the,work
0,0,0,0,0,0,1,1,0,3,0,1,0,1,0
1,0,0,1,0,0,0,0,1,0,0,0,1,0,0
2,1,1,0,1,1,1,0,0,0,1,0,1,0,1

In [9]:
vectorizer.vocabulary_

{'saw': 10,
 'her': 5,
 'in': 6,
 'the': 12,
 'office': 8,
 'she': 11,
 'looked': 7,
 'beautiful': 2,
 'received': 9,
 'an': 0,
 'award': 1,
 'for': 3,
 'good': 4,
 'work': 13}

# TF-IDF

In [10]:
import pandas as pd

In [11]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [12]:
# documentA = 'the man went out for a walk'
# documentB = 'the children sat around the fire'

In [13]:
vectorizer = TfidfVectorizer()

#vectors = vectorizer.fit_transform([documentA, documentB])

vectors = vectorizer.fit_transform(text)

feature_names = vectorizer.get_feature_names()

vec = vectors.toarray()

df = pd.DataFrame(vec, columns=feature_names)

In [14]:
df

,an,award,beautiful,for,good,her,in,looked,office,received,saw,she,the,work
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.214438,0.28196,0.000000,0.84588,0.000000,0.28196,0.000000,0.28196,0.000000
1,0.000000,0.000000,0.622766,0.000000,0.000000,0.000000,0.00000,0.622766,0.00000,0.000000,0.00000,0.473630,0.00000,0.000000
2,0.373801,0.373801,0.000000,0.373801,0.373801,0.284285,0.00000,0.000000,0.00000,0.373801,0.00000,0.284285,0.00000,0.373801