In [5]:
import pandas as pd

In [6]:
names = ["ABC","DEF","GHI","ABC","PQR"]
sentence = ["How is everyone doing",
            "I'm doing awesome ",
            "Doing great",
            "not doing bad at all",
            "how is the weather there"]

df = pd.DataFrame({"names":names,
             "sentence":sentence})

df

  names                  sentence
0   ABC     How is everyone doing
1   DEF        I'm doing awesome
2   GHI               Doing great
3   ABC      not doing bad at all
4   PQR  how is the weather there

  Name most_frequent_word count_most_frequent_word Total Unique words
0  ABC              doing                        2                  8
1  DEF            awesome                        1                  4
2  GHI              great                        1                  2
3  PQR            weather                        1                  5